:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #fff;
  --black: #010101;
  --green: #2b8379;
  --green-light: #19a596;
  --burgundy: #970e3d;
  --burgundy-light: #c43464;
  --background: #f2ecee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body{
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--black);

}

nav{
  background-color: var(--white);
  box-shadow: 0 3px 7px 1px rgba(0,0,0,.07), 0 -3px 7px 1px rgba(0,0,0,.07);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}